<% unless current_user %>
  <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="jumbotron text-center">
          <h1 class="title">Standup</h1>
          <h2 class="title"><%= DateTime.now.strftime("%A, %B %e, %Y") %></h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel panel-primary update-panel personal-updates">
          <div class="panel-heading">
            <h3 class="panel-title">Personal Updates</h3>
          </div>
          <%= render "updates/personal_form" %>
          <div class="text-center">
            <button class="btn btn-fab btn-raised btn-primary add-new" id="add-personal"><i class="icon icon-material-favorite"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel panel-primary update-panel professional-updates">
          <div class="panel-heading">
            <h3 class="panel-title">Professional Updates</h3>
          </div>
          <%= render "updates/professional_form" %>
          <div class="text-center">
            <button class="btn btn-fab btn-raised btn-primary add-new" id="add-professional"><i class="icon icon-material-favorite"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>
