
body .well, body .jumbotron, .container .well, .container .jumbotron, .container-fluid .well, .container-fluid .jumbotron {
  background-color: #17BCC9;
  color: white;
}

.title {
  font-family: 'Crete Round', serif;
}
